{% extends 'layout.html' %}

{% load static %}


{% block body %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<section id="about-section">
    <div class="about">
        <h1>About <span>Me</span></h1>
        <p>Passionate about coding , contributing to projects, eager to learn </p>
            <p> Experience in languages like <span><b>Python, Kotlin, HTML5, CSS, Vanilla Javascript</b></span> and frameworks such as <span><b>Django, Jetpack Compose</b></span>
            </p>
           


    </div>

    <div class="container">
        <div class="row">
            <i class="fa-solid fa-graduation-cap"></i> 
             <p class="education_title">EDUCATION </p>
        </div>
        <i class="fa-solid fa-building"></i> 

        {% for education in education %}
        <p class="education_level">{{education.level}} <br>{{education.course_name}} <br>{{education.institution}}</p>
        {% endfor%}
      

    </div>
</section>




{% endblock%}