{% extends 'layout.html' %}
{% load static %}

{% block body %}




<section id="profile-section">
       
    <div class="profile-text">
        <h1><span>Liam</span> <span>Reeves</span></h1>
        <h2>I'm Web Developer</h2>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
       
        <!-- <button>Hire Me</button> -->
    </div>
    <div class="profile-img">
        <img src="{% static 'assets/profile.png' %}" alt="">
      </div>
</section>




{% endblock %}