{% extends 'layout.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
<section class="projects-section">
   
        <div class="container">

            <div class="project_1">
                <div class="project_heading"><h4><a href="">Vazi <span>Kenya</span></a></h4></div>
                <div class="project_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias corrupti rerum <br> doloribus, <br>hic, blanditiis earum laborum nisi cumque culpa obcaecati deserunt exercitationem ex <br> saepe est accusantium iusto non neque. Exercitationem?</p>
                </div>
                
            </div>
      

        </div>
 
</section>


{% endblock %}
