{% extends 'layout.html'%}

{% load static%}

{% block body%}
<link rel="stylesheet" href="{% static 'css/service.css'%}">
<section id="service_section">
    <h1>My <span>Services</span></h1>
    <div class="service_cards">
        <div class="first_card">
            <i class="fa-solid fa-code"></i>
       
            <h4><span>Full Stack</span> Web Development</h4>
            <p class="card_one_text">
                Skilled professional who possesses the expertise to handle both the front-end 
                 (client-side) and back-end (server-side)                 <!-- Essentially a jack-of-all-trade when <br> it comes to web development.</p> -->

        </div>

        <div class="second_card">
            <i class="fa-solid fa-database"></i>
           
            <h4><span>Database</span> Management</h4>
            <p class="card_two_text">
                Expertise in handling databases such as MySQL, PostgreSQL and more.
                <!-- Proficient in structuring, querying, and maintaining databases. -->
            </p>
        </div>

        <div class="third_card">
            <i class="fa-brands fa-android"></i>
           
            <h4><span>Android</span> Development</h4>
            <p class="card_third_text">
                Proficient in Android app development using UI framework Jetpack Compose and Kotlin Multiplatform.
                <!-- Strong understanding of Android development principles, best practices, and tools. -->
           
            </p>
        </div>
        <div class="fourth_card">
            <i class="fa-solid fa-paintbrush"></i>
           
            <h4><span>Graphic</span> Design</h4>
            <p class="card_fourth_text">
                Expertise in creating visually appealing, user-friendly, and responsive designs.
                </p>    
        </div>
        
    </div>





        


</section>




{% endblock %}