p{
    color: #fff;
}
#about-section{
   
    margin-top: 100px;
    margin-left: 300px;
}

.about h1{
    font-size: 30px;
    color: white;
}
.about h1 span{
    font-size: 40px;
    color:#4ceb95;
}

