*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */





#desktop-nav{
    position: sticky;
    background-color:#b1ee75;
    height: 100px;
     width: 100%;
    border-radius: 2px;
    box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.02);
}
.nav-links  {
    display: flex;
    justify-content:space-around;
    margin-left: 100px;


}
.nav-links a{
    text-decoration: none;
     color:#111110;
    font-size: 20px;
    font-weight: 400;
    transform: translate(Y);



 
 
 
}

.nav-links a:hover{
    color:white;
    transition: 0.5s ease;
    transform: translate(-10px);
}

.nav-links li{
  
    text-decoration: none;
    margin-top: 40px;
    list-style: none;
  
}

#profile-section{
    display: flex;
    background: black;
}
.profile-text{
    margin-left: 140px;
    margin-top: 100px;
}
.profile-text h1{
    color: gold;
}
.profile-text h2{
    color: white;
}
.profile-text p{
    color: 	#FFFDD0;
}
.profile-text h1 span{
    font-size: 40px;
    font-weight: 600;
    color: 
}
.profile-text button{
    margin-top: 10px;
   background: 	#F4BB44;
   
   width: 30%;
    height: 40px;
    border-radius: 5px;
    border: none transparent;
    
}
.profile-img{
    float: right;
    margin-left: 200px;
}
