/* 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;

}
body{
    background-color: #000;
    box-shadow: 0px 0px 20px  #18c53e;
}
html{
    scroll-behavior: smooth;
}



#desktop-nav{
    position: sticky;

    float: left;
    height: 100px;
     width: 300px;
     box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.02);
}
.nav-links  {
    display: flex;
    justify-content:space-between;
    margin-left: 100px;


}
.nav-links a{
    justify-content:space-between;
    text-decoration: none;
     color:#111110;
    font-size: 20px;
    font-weight: 400;
    transform: translate(Y); 
}

.nav-links a:hover{
    color:white;
    transition: 0.5s ease;
    transform: translate(-10px);
}

.nav-links li{
    justify-content: space-evenly;
  
    text-decoration: none;
    margin-top: 40px;
    list-style: none;
  
}

#profile-section{
    display: flex;
}
.profile-text{
    padding-left: 300px;

    margin-top: 250px;
}
.profile-text h1{
    font-size: 30px;
    color: #18c618;
   
}
.profile-text h2{
    color: white;
}

.profile-text h1 span{
    font-size: 40px;
    font-weight: 600;
   
}
.profile-text button{
    margin-top: 10px;
   background: 	#F4BB44;
   
   width: 30%;
    height: 40px;
    border-radius: 5px;
    border: none transparent;
    
}
.profile-img{
    background-size: cover;
    float: right;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    padding-bottom: 200px;
    border-right: #18c618 3px solid;
    box-shadow: 0px 0px 20px  #18c53e;
    border-radius: 6px;
    background: #000;
    
    padding: 30px 0;



}
.wrapper .sidebar h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;

}

.wrapper .sidebar ul li{
    padding: 15px;
    
}

.wrapper .sidebar ul li:hover{
    background: black;
}
.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
    transform: translate(X);
}
.wrapper .sidebar ul li a:hover{
    color: #18c618;
    transition: 0.5s ease-in-out;
    transform: translate(-5px);
    
}
/* @keyframes animate{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100px);
    }
} */
.wrapper .sidebar h2 span{
    color: #18c53e;
}





